# Install requirements in order
# Use: pip install -r requirements.txt

-r requirements/base.txt
-r requirements/streamlit.txt
-r requirements/donations.txt
-r requirements/unrest.txt
-r requirements/dev.txt
-r requirements/ons.txt